@model DbmsSims.Models.ICMS2.IcmsIssue

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="form-group">
            <div class="has-error">
                <h3>@Model.Issue</h3>
            </div>
        </div>
    </div>

</div>

